absl-py==0.7.1
appnope==0.1.0
astor==0.7.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2016.9.26
configparser==3.5.0
cycler==0.10.0
decorator==4.0.10
entrypoints==0.3
enum34==1.1.6
flake8==3.7.7
funcsigs==1.0.2
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
html5lib==0.9999999
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.6.1
mistune==0.7.3
mock==3.0.5
nbconvert==5.0.0
nbformat==4.2.0
notebook==4.3.1
numpy==1.16.3
pandas==0.19.2
pandocfilters==1.4.1
pathlib2==2.1.0
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
protobuf==3.7.1
ptyprocess==0.5.1
pycodestyle==2.5.0
pydot==1.4.1
pyflakes==2.1.1
Pygments==2.1.3
pyparsing==2.1.10
pyreadline==2.1
python-dateutil==2.6.0
pytz==2016.10
PyYAML==5.1
pyzmq==16.0.2
qtconsole==4.2.1
scikit-learn==0.18.1
scipy==0.18.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.6
testpath==0.3
tornado==4.4.2
traitlets==4.3.1
typing==3.6.6
wcwidth==0.1.7
Werkzeug==0.15.3
widgetsnbextension==1.2.6
